[Desktop Entry]
Version=1.0
Type=Application
Name=Start Up Apps
Exec=sh -c "yandex-browser-stable --profile-directory='Profile 1' & yandex-browser-stable --profile-directory='Profile 2' & obsidian & ticktick & discord & yandex-music & telegram-desktop"
